{% extends "index.html.twig" %}

{% block title %}Adresse Inconnue{% endblock %}
{% block content %}
    <h1>Erreur 404</h1>
    <p class="important">
        Addresse non trouvé.
    </p>
    <p class="important">
        {{ error.message }}
    </p>
{% endblock %}