{% extends "index.html.twig" %}

{% block title %}Erreur Interne{% endblock %}
{% block content %}
    <h1>Erreur 500</h1>
    <p class="important">
        Veuillez nous excuser.
    </p>
    <p class="important">
        {{ error.message }}
    </p>
{% endblock %}