{% extends "index.html.twig" %}

{% block title %}Epreuves{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome to my awesome homepage.
    </p>
{% endblock %}