{% extends "index.html.twig" %}

{% block title %}Épreuves{% endblock %}
{% block content %}
    <h1>Épreuves</h1>
    {% for contest in contests %}
        * {{ contest.name }}
    {% else %}
        <p class="">Aucune épreuves, voulez-vous en ajouter une ?</p>
    {% endfor %}
{% endblock %}
