{% extends "index.html.twig" %}

{% block title %}Erreur{% endblock %}
{% block content %}
    <h1>Erreur inconnue</h1>
    <p class="important">
        Veuillez nous excuser.
    </p>
{% endblock %}